*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;

  @media (max-width: 1024px) {
    font-size: 58.5%;
  }
  @media (max-width: 768px) {
    font-size: 47.5%;
  }
}
body {
  background-color: #fff6f6;
  font-family: "Roboto", sans-serif;
  nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    .love-it-shower-symbal {
      padding: 1rem 1.2rem;
      border: 2px solid #dbd9d9;
      border-radius: 50%;
      color: #ff6868;
      cursor: pointer;
      .love-it-fullfill {
        font-size: 3rem;
      }
    }
    form {
      flex-basis: 49%;
      .input-wapper {
        padding: 3rem;
        @media (max-width: 425px) {
          padding: 1rem 0rem;
        }

        &-center {
          background-color: #dbd9d9;
          display: flex;
          justify-content: center;
          border-radius: 3rem;
          box-shadow: 0.8rem 0.8rem 0.9rem rgba(0, 0, 0, 0.4);
          transition: all 0.3s ease-in-out;
          &:hover {
            box-shadow: 0.8rem 0.8rem 0.6rem rgba(0, 0, 0, 0.2);
          }
          & #search-city {
            width: 60%;
            padding: 1.5rem;
            border: none;
            padding: 1.5rem;
            background-color: #dbd9d9;
            color: black;
            font-size: 1.8rem;
            text-transform: capitalize;
            letter-spacing: 2px;
          }
          & label {
            font-size: 2.2rem;
            padding: 1.3rem 1rem 0;
          }
        }
      }
    }
  }
}

// popup
.wapper-love-it-list {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  .closer {
    position: absolute;
    right: 0;
    padding: 2rem;
    font-size: 3rem;
  }
  .love-it-shower-lists {
    width: 70%;
    height: 80%;
    position: fixed;
    background-color: white;
    box-shadow: 0.8rem 0.8rem 2rem rgba(0, 0, 0, 0.4);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;

    @media (max-width: 425px) {
      width: 91%;
      height: 82%;
    }
    .center-nonliked {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
      font-size: 2rem;
    }
    .list {
      position: relative;

      margin: 3rem;
      .flex-wapper {
        display: flex;

        width: 100%;
        height: 38%;
        box-shadow: 0.8rem 0.8rem 2rem rgba(0, 0, 0, 0.4);
        align-items: center;
        padding: 5rem;

        @media (max-width: 425px) {
          flex-direction: column;
        }

        .img {
          width: 47%;
          height: 100%;
          margin: 0rem auto;
          img {
            width: 60%;
            height: 100%;
            @media (max-width: 425px) {
              width: 100%;
            }
          }
        }
        .content {
          font-size: 2rem;

          @media (max-width: 425px) {
            font-size: 1.5rem;
          }
          h4 {
            font-weight: 300;
          }
        }
      }
    }
  }
}
.none {
  display: none;
  opacity: 0;
}
.wapper-love-it-list-hidden {
  display: none;
  z-index: -1;
}
// main content
.main-content {
  padding: 5rem;
  .buttonsWapper {
    display: flex;
    justify-content: space-between;
    margin: 5rem;

    @media (max-width: 425px) {
      margin: 4rem 2rem;
    }
    & .pervios-btn,
    .next-btn {
      margin: 2rem;
      @media (max-width: 425px) {
        margin: 1rem;
      }
      a {
        padding: 2rem 3rem;
        background: #dbd9d9;
        border-radius: 40px;
        font-size: 1.3rem;
        text-decoration: none;
        color: black;
        @media (max-width: 425px) {
          padding: 1.5rem 2rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  &-heading {
    font-size: 3rem;
    margin: 1rem;
  }
  &-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 47rem;
    justify-content: space-around;
    align-content: center;
    grid-gap: 2rem;
    margin: 3px;
    & .main-content-card {
      background-color: white;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

      .love-it {
        position: absolute;
        right: 0px;
        z-index: 6;
        padding: 1rem 1.1rem;
        border: 2px solid #dbd9d9;
        margin: 1rem;
        transition: all 0.5s ease;
        border-radius: 50%;
        cursor: pointer;
        .like {
          color: #ff6868;
        }
        .symbal {
          font-size: 2.5rem;
          transition: all 0.5s ease;
          &:hover {
            color: red;
          }
        }
      }
      &-wapper {
        position: absolute;
        width: 100%;
        height: 61%;
        background: #dbd9d9; //#c1e8fc;
        border-top-right-radius: 100%;
        top: 39%;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }
      &-content-wapper {
        width: 100%;
        height: 100%;
        .grid-card-content {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }
        &-img {
          position: relative;
          z-index: 4;
          img {
            z-index: 4;
            width: 58%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            transform: scale(1.2);
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          }
        }
        &-content {
          z-index: 5;
          font-size: 1.3rem;
          color: #3c3e3d;
          padding: 2rem 2rem 0.4rem 1rem;
          h3 {
            font-weight: 400;
          }
          & * {
            margin: 0.6rem;
          }
          .name-of-the-restaurant {
            div {
              font-size: 1.6rem;
            }
          }
        }
      }

      &:hover {
        box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.1);
        .main-content-card-content-wapper {
          &-img {
            img {
              transform: scale(1.6);
            }
          }
        }
        .love-it {
          border-color: white;
        }
        .main-content-card-wapper {
          height: 100%;
          top: 0%;
          border-top-right-radius: 0%;
        }
      }
    }
  }
  .spinnerWapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 40;
    .spinner {
      width: 0%;
      height: 10%;
      border: 10px solid #d3d3d3;
      padding: 3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-top: 10px solid #010101b5;
      border-radius: 50%;
      z-index: 40;
      animation: spinner 0.5s infinite linear;
      backface-visibility: hidden;
    }
  }
  .spinner-hidden {
    display: none;
    z-index: -1;
    position: relative;
  }

  @keyframes spinner {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.respopup-continer-hidden {
  display: none;
  z-index: -1;
}

.res-popup-continer {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 20;
  overflow: scroll;
  .closer {
    position: absolute;
    right: 0;
    padding: 2rem;
    font-size: 3rem;
    z-index: 30;
  }
  .res-popup-continer-img {
    position: relative;
    padding: 2rem 5rem;
    width: 100%;
    height: 67vh;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .res-popup-continer-ditals {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    padding: 2rem;
    @media (max-width: 554px) {
      position: relative;
      flex-direction: column;
      height: 100%;
    }

    .res-popup-continer-ditals-list1 {
      align-self: center;
      font-size: 1.8rem;
      width: 50%;
      @media (max-width: 896px) {
        font-size: 1.5rem;
      }
      @media (max-width: 459px) {
        font-size: 1.3rem;
        width: 91%;
        padding: 2rem;
      }
      h2 {
        padding: 0.4rem;
        span {
          padding: 0.3rem;
          font-weight: 400;
        }
      }
    }
    .res-popup-continer-ditals-list2 {
      flex-basis: 30%;
      font-size: 1rem;
      overflow-y: auto;

      @media (max-width: 896px) {
        flex-basis: 45%;
        font-size: 0.9rem;
      }

      ul {
        position: relative;
        width: 100%;
        height: 100%;
        list-style-type: none;

        .users-list {
          display: flex;
          list-style-type: none;
          padding: 2rem;
          box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2);
          margin: 1rem;
          justify-content: space-around;
          .user-img {
            img {
              border-radius: 50%;
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }

  .slide-img-wapper {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 4rem;
    overflow: hidden;

    @media (max-width: 411px) {
      height: 90vh;
      padding: 3.1rem;
    }
    .arror {
      width: 30%;
      height: 100%;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      transition: all 0.8s ease;
      i {
        align-self: center;
      }
      &:hover {
        font-size: 3.4rem;
      }
    }

    .res-popup-continer-all-imgs {
      width: 60%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .res-popup-continer-all-imgs-img-wapper {
        overflow: hidden;
        width: 400%;
        height: 90vh;
        position: absolute;
        .slide-img-wapper-to-flex {
          display: flex;
          width: 400%;
          height: 100%;
          position: relative;
          img {
            transition: all 0.5s ease-in;
            width: 7%;
            height: 100%;
          }
        }
      }
    }
  }
}
.remove-like-pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 70;
  background-color: rgba(255, 255, 255, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;

  .remove-like-pop-continer {
    padding: 3rem;
    background: rgba(255, 255, 255, 0.795);
    width: 40rem;
    height: 20rem;
    position: relative;
    box-shadow: 0.8rem 0.8rem 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width: 425px) {
      height: 17rem;
      width: 35rem;
    }

    .buttons-continer-of-unlike-res {
      display: flex;
      justify-content: flex-end;
      span {
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 1rem;
        margin: 1.2rem;
        font-size: 1.3rem;
      }
    }
  }
}

.remove-like-pop-hidden {
  display: none;
  z-index: -1;
}

.cat-cui {
  margin: 2rem;

  h2 {
    padding: 1rem 6rem;
    font-size: 1.9rem;
    @media (max-width: 425px) {
      padding: 1rem 4rem;
      font-size: 1.6rem;
    }
  }
  .cat-cui-form {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    select {
      width: 25%;

      width: 25%;
      padding: 1.2rem;
      font-size: 1.3rem;

      border: 1px solid black;
      text-align: center;
      border-radius: 10rem;
      appearance: none;
      -webkit-appearance: none;
    }
    a {
      background-color: #dbd9d9;
      color: black;
      font-size: 1.6rem;
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 3rem;
      transition: all 0.5s ease-in;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  align-items: center;
  .api-logo {
    img {
      width: 100px;
    }
  }
  .creater-name {
    font-size: 1.4rem;
  }
}
